.contentCard35 {
  max-height: 35rem;
  overflow: hidden;
}
.contentCardNone {
  max-height: none;
}
.contentCardTitle {
  padding: 1rem;
}
.contentCardImage {
  padding: 1rem;
}
.contentEnd {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}
.contentEndButtonWrapper {
  padding: 1rem;  
}
.contentEndBlurHr {
  height: 2px;
  background-color: var(--color-accent-light);
  border: none;
}
.contentEndFinalHr {
  width: 75%;
  border-top: 1px dotted var(--color-accent-light);
  margin: 2rem auto;
}