.postMedium {
  border-radius: 5px;
  display: grid;
}
.postMedium h4,
.postMedium h5,
.postMedium time,
.postMedium address {
  padding-top: 0rem;
}
.imageWrapper {
  max-width: 30%;
  justify-content: center;
}
.imageWrapper cite {
  font-size: 1rem;
}
.textWrapper {
  justify-content: space-evenly;
}
.btnWrapper {
  justify-content: flex-end;
  align-items: center;
}