.grid {
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  margin: auto;
}
.grid aside {
  justify-self: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.grid aside h3{
  text-align: center;
  padding: 1rem;
  background-color: var(--color-accent-light);
}
.intro {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.intro .greeting {
  font-style: italic;
  background-color: transparent;
}
.intro div {
  align-self: center;
  border-radius: 100px;
  margin-bottom: 1rem;
}
.intro .welcome p {
  font-family: 'Alegreya', serif;
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: .1rem;
  padding: .5rem;
}
.intro hr {
  width: 50%;
  margin: 1rem auto;
}
.itemsEnd {
 justify-content: flex-end;
 margin-right: 2rem;
}
.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.card {
  padding: 1rem;
  justify-content: space-evenly;
  border: 1px solid var(--color-accent-light);
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 0px 1px 10px 1px var(--color-mid);
  margin: 5rem 0rem;
}
.cardHeading {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  transform: translateY(-50px); 
  margin: auto;
}
.cardBody {
  line-height: 3.5rem;
}
.cardFooter {
  font-size: 1.6rem;
  list-style-type: disc;
  padding-left: 11rem;
}