.contentIndexGrid {
  display: grid;
  grid-template-columns: 75% 25%;
}
.contentIndexGrid div {
  margin: 0% 2.5%;
}
.indexItem {
  text-decoration: underline;
  text-decoration-color: var(--color-accent-dark);
  padding: 0.25rem;
}
.indexItem:hover {
  text-decoration: dotted underline;
  text-decoration-color: var(--color-accent-dark);
}