.getExerciseStyling {
  display: grid;
  grid-template-columns: 75% 25%;
}
.getExerciseText {
  margin: 0% 2.5%;
}
.getExerciseStyling input {
  width: 6rem;
}
.getExerciseStyling input:focus {
  outline: none;
}
.getExerciseStyling button {
  margin: 1rem 3rem;
}
.clusterIndex {
  text-decoration: underline;
  text-decoration-color: var(--color-accent-dark);
  padding: 0.25rem;
}
.clusterIndex:hover {
text-decoration: dotted underline;
  text-decoration-color: var(--color-accent-dark);
}