.carousel {
  max-width: 100%;
  overflow: hidden;
}
.allCenter {
  justify-content: center;
  align-items: center;
}
.spaced {
  justify-content: space-evenly;
  align-items: center;
}
.colorPad {
  color: var(--color-accent-dark);
  padding-left: .5rem;
  padding-right: 1rem;
}

