.tagCloudStyling {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1
}
.tagCloudStyling li button {
  font-family: 'Alegreya', serif;
  text-shadow: 0px 1px 1px var(--color-accent-dark);
  letter-spacing: .1rem;
  padding: 1rem;
}