.grid {
  background: linear-gradient(to right bottom, var(--color-light), var(--color-mid));
  padding: 3rem;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 3rem;
  border-radius: 5px;
}
.indexItem {
  text-decoration: underline;
  text-decoration-color: var(--color-accent-dark);
  padding: 0.25rem;
}
.indexItem:hover {
  text-decoration: dotted underline;
  text-decoration-color: var(--color-accent-dark);
}
.writing {
  padding: 1rem 3rem 1rem 1rem;
}